.header {
	.author {}
	img {
		width: 10px;
	}

}

.subtitle {

}

.standers {

}

.inspire {

}

.tags {

}

.inspirations {

}

.main-content {
	text-align: left;
	padding: 15px 10px;
	margin:0;
	margin-bottom:5px;
}

.comments {
	img {width:40px;}
}

.related {
	img {width:40px;}
}
