body {
	background-image: url('/images/tree-background.jpg');
	background-color:  #E0E0E0;
	font-family: 'PT Sans';
}

.header {
	font-family: 'PT Sans';
}
.logo {
	font-size: 50px;
	width: 940px;
	height: 100px;
	vertical-align: text-center;
	background-color: #C8C8C8;
	margin: 7px;
	font-family: 'PT Sans';
}
#vvlogo {
	width: 100px;
	height: 100px;
}
#authorimg {
	width: 500px;
	position: left;
}
.author {
	font-size: 45pt;
	font-family: 'PT Sans';
	font: bold;
	
}
.subtitle {

}

.standers {

}

.inspire {

}

.tags {

}

.inspirations {

}

.main-content {
	text-align: left;
	padding: 15px 10px;
	margin:0;
	margin-bottom:5px;
}

.comments {
	img {width:40px;}
}

.related {
	img {width:40px;}
}
